body {
  background-color: darkorchid;
}

h1 {
  color: tomato;
  text-align: center;
}

img {
  position: absolute;
  z-index: 2;
  left: 33%;
}

button {
  display: none;
  position: absolute;
  left: 47%;
  top: 90%;
}

.board {
  position: absolute;
  left: 33%;
}

.row {
  margin: 0 auto;
  width: 458px;
  height: 153px;
  background-color: black;
}

.row:last-child {
  height: 150px;
}

.gridSquare {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
  background-color: darkorchid;
  z-index: 1;
}
