body {
  background-color: darkorchid;
}

h1 {
  color: crimson;
  text-align: center;
  background-image: url(stone-banner.jpg);
}

img {
  position: absolute;
  z-index: 2;
  left: 33%;
}

button {
  display: none;
  position: absolute;
  left: 47%;
  top: 90%;
}

p {
  position: absolute;
  top: 25px;
}

footer {
  background-image: url(Bones-banner.png);
  background-position: bottom;
  position: absolute;
  bottom: 10px;
  left: 37px;
  height: 50px;
  width: 95%;
  z-index: -1;
}

.counter {
  height: 40px;
}

.stoneCounter {
  position: absolute;
  left: 5%;
}

.bonesCounter {
  position: absolute;
  right: 8%;
}

.board {
  position: absolute;
  left: 33%;
}

.row {
  margin: 0 auto;
  width: 458px;
  height: 153px;
  background-color: black;
}

.row:last-child {
  height: 150px;
}

.gridSquare {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
  background-color: darkorchid;
  z-index: 1;
}
